In [1]:
# Activate your virtual environment - make sure you have visualization libraries installed

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Line Charts

In [2]:
pd.set_option('display.max_colwidth', None)

In [7]:
# line graph - plot age and average height. Prepare the data:
import pandas as pd

data = [
    {"age": 1, "avg_height": 76},
    {"age": 2, "avg_height": 88},
    {"age": 3, "avg_height": 95},
    {"age": 4, "avg_height": 103},
    {"age": 5, "avg_height": 110},
    {"age": 6, "avg_height": 116},
    {"age": 7, "avg_height": 121},
    {"age": 8, "avg_height": 127},
    {"age": 9, "avg_height": 132},
    {"age": 10, "avg_height": 141},
    {"age": 11, "avg_height": 143},
    {"age": 12, "avg_height": 150},
    {"age": 13, "avg_height": 156},
    {"age": 14, "avg_height": 163},
]

df = pd.DataFrame(data)

df["max_height"] = df["avg_height"] + 5

df.head()

   age  avg_height  max_height
0    1          76          81
1    2          88          93
2    3          95         100
3    4         103         108
4    5         110         115

In [ ]:
# Make a basic line plot in matplotlib, using age on the x axis and avg_height on the y axis

In [4]:
# Answer

In [10]:
# Add title and axis labels

In [5]:
# Answer

In [ ]:
# Add another line - with age on x and max_height on y, and a legend

In [8]:
# Answer

In [ ]:
# Make a line chart in seaborn and plotly with the same data

In [ ]:
# Answer - Seaborn

In [ ]:
# Answer - plotly

In [17]:
# From now on, we will use the tips dataset from seaborn 

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Bar plots

In [ ]:
# Make bar plots with day on the x axis and tip on the y axis in all three libraries.

In [ ]:
# Answer - matplotlib

In [ ]:
# Answer - seaborn

In [ ]:
# Answer - plotly

In [ ]:
# In plotly, try adding or taking away the argument barmode="group" when you also have color="time" set
# In seaborn, estimator can be 'median'/'min'/'max'/'mean' - what does that mean?
# In seaborn, try adding or taking away the errorbar=None argument

# Histograms

In [ ]:
# Make histograms showing the distribution of total_bill in all three libraries

In [ ]:
# Answer matplotlib

In [ ]:
# Answer seaborn

In [ ]:
# Answer plotly

In [ ]:
# Ask chatgpt to the most simple version of a histogram prettier - what do you get?

# Homework

In [1]:
# Create 3 visuals using matplotlib